<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-lazy-init="true">

    <description>FreeMarker</description>

    <bean id="templateService" class="com.hollycrm.smcs.template.TemplateService" >
        <property name="templateConfiguration">
            <bean class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">
                <property name="templateLoaderPath">
                    <value>classpath:/template</value>
                </property>
                <property name="defaultEncoding">
                    <value>utf-8</value>
                </property>
            </bean>
        </property>
        <property name="encoding">
            <value>utf-8</value>
        </property>
    </bean>


</beans>